# YOLO outputs
runs/

# Model weights
*.pt

# Dataset images
dataset/train/images/
dataset/val/images/

# Test / local images
image/

#ignore test_image.py file
test_image.py

# Python
__pycache__/
*.pyc
venv/

# OS
.DS_Store
Thumbs.db
